/*  Fonts here
see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files */

/* @font-face {
	font-family:'CeraPro';
	src: url('~/assets/fonts/CeraPro-Thin.ttf') format('ttf'),
		 url('~/assets/fonts/CeraPro-Thin.woff') format('woff'),
		 url('~/assets/fonts/CeraPro-Thin.eot') format('eot');
	font-weight: 100;
	font-style: normal;
} */