.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  opacity: 1;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.collapse-enter-active, .collapse-leave-active {
    transition: all .5s;
    opacity: 1;
  }
  .collapse-enter, .collapse-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }

  .list-enter-active, .list-leave-active {
    transition: all 1s;
  }
  .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
  }

@keyframes spinRight {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes spinLeft {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}

@keyframes loader-animate{
    0%{
       transform: translate3d(-100%, 0, 0);
     }
    100%{
       transform: translate3d(100%, 0, 0);
     }
   }