<template>
<div class="mainpage">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<div class="mainpage__content"></div>

			</div>
		</div>
	</div>
</div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
	.mainpage{
		position: relative;

		width: 100%;
		height: auto;

		&__content{
			
		}

	}
</style>
